body {
    box-sizing: border-box;
    margin: 0;

}

main {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./assets/grunge-bricks-cracked-concrete-wall-textured-background_53876-101354.jpg);
    background-size: 100vw 100vh;
}

.container {
    border: solid;
    border-color: blue;
    border-width: 10px;
    border-radius: 30px;
    width: 70%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
    min-height: 300px;
    min-width: 300px;
    margin-top: 50px;
}

.containerHeaders {
    margin-top: 100px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.pic {
    height: 200px;
    width: 200px;
}

.picHidden {
    visibility: hidden;
}

.bigBox {
    width: 80%;
    gap: 20px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.containerHeader {
    margin: 10px;
    font-size: 30px;
}

.answerBoxA {
    height: 30%;
    width: 90%;
    display: flex;
    background-color: lightgrey;
    border-radius: 25px;
    justify-content: center;
    font-size: 18px;
    align-items: center;
    opacity: 0.75;
    background-size: 100%;
    min-height: 50px;
}

.answer {
    font-size: 18px;
}

.answerImg {
    height: 150px;
    width: 150px;
}

.emptyBox {
    width: 100px;
    height: 40px;
    border: solid;
    background-color: ghostwhite;
    border-radius: 10px;
    margin-top: 30px;
}

#bigBoxBtn {
    display: flex;
    width: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.btnContainer {
width: 33%;
display: flex;
gap: 22px;
justify-content: flex-start;
flex-direction: column;
}

.buttons {
    display: flex;
    flex-direction: column;
}

/* #btn1, #btn2, #btn3, #btn4, .saveBtn, .favoritesBtn {
    width: 150px;
    height: 40px;
    border: solid;
    background-color: ghostwhite;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 2px 2px 0 black,
            -2px -2px 0 black,
            -2px 2px 0 black,
            2px -2px 0 black;
    transition: 500ms ease-in-out;
}

button:hover {
    cursor: pointer;
    box-shadow: 20px 5px 0 black, -20px -5px 0 black;
}

button:focus {
    outline: none;
} */

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
          -webkit-tap-highlight-color: transparent;
  }
  
  button {
    font-size: medium;
      width: 150px;
      height: 50px;
      cursor: pointer;
      color: black;
      background: ghostwhite;
      opacity: 0.7;
      border: 2px solid black;
      border-radius: 15px;
      box-shadow: 2px 2px 0 black,
      -2px -2px 0 black,
      -2px 2px 0 black,
      2px -2px 0 black;
      transition: 500ms ease-in-out;
    }
    
    button:hover {
        box-shadow: 40px 5px 0 blue, -20px -5px 0 palevioletred;
        background: ghostwhite !important;
        color: black;
        opacity: 1;
    }
    
    button:focus {
      outline: none;
  }

.favoriteBtnContainer {
    display: flex;
    flex-direction: column;
    width: 33%;
    gap: 10px;
    align-items: end;
}

.empty {
    width: 33%;
    justify-content: center;
    display: flex;
}

.personText {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    background: ghostwhite;
    opacity: 0.75;
    background-size: 100%;
    border-radius: 15px;
}

.imgHidden {
    visibility: hidden !important;
}

.personInfoBox {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
}

.answerBoxB {
    display: flex;
    justify-content: center;
    font-size: 18px;
    align-items: center;
    gap: 30%;
    width: 55%;
    
}


#Header {
    position: fixed;
    height: 100px;
    background-color: rgb(0, 0, 0);
    margin: 0px;
    left: 0;
    right: 0;
    top: 0;
    flex-direction: row;
    color: white;
    display: flex;
    align-items: center;
    justify-content: stretch;
    z-index: 1;
}

#TitleHeader {
    font-size: 55px;;
    align-items: center;
    margin: 0px;
    font-weight: 600;
    letter-spacing: 5px;
    margin-left: 20px;
    flex-grow: 1;
    text-decoration: none;
    color: white;
}

#TitleHeader:hover {
    color: rgb(151, 151, 151); 
}

#HeaderText {
    align-items: center;
    font-size: 35px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.headerTitleH1 {
    margin: 0;
    display: flex;
    align-items: center;
}

#favorites {
    background: ghostwhite;
    border: solid;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

#boxFavorites {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}